@tailwind base;
@tailwind components;
@tailwind utilities;

/* keep only library utility classes */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
